.card {
  width: 100vw;
  border-radius: 4px;
  background: linear-gradient(90deg,#CCC5AA, #D3C9A3);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.card-content {
  width: 88vw;
  position: relative;
  margin: 0px 0px 0px 12vw;
  background: rgba(0,0,0,.07);
  z-index: 1;
  padding: 3.5rem 2.5rem 0rem 2.5rem;
}

.projects-sub-content{
  width: 60vw;
  padding: .5rem;
}
