*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#canvas{
    border: 2px solid #000;
}
.Game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;

    width: max-content;
    height: max-content;

}
.Buttons * {
    font-weight: lighter;
    font-family: 'VT323', monospace;
    font-size: x-large;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    width: 100px;
    height: 50px;
}