.Separator {
  display: flex;
  background-color: #515151;
  width: 40vw;
  height: 6.5rem;
  align-items: center;
  padding-left: 35px;
  margin: 3.5rem 0rem;
}

.Separator-Title {
  color: #fff;
  font-size: 50px;
}
