.ToolTag {
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.06);
  align-items: center;
  border-radius: 15px;
  gap: 8px;
  padding: 6px 18px;


  max-width: 300px;
}

.ToolTag-Img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.ToolTag-Text {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.Skill-List {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 
}

.Skill-Subtitle {
  font-size: 32px;
  margin-bottom: 16px;

  font-size: 32px;
  font-size: 32px;
  color: #000;
}
